{__NOLAYOUT__}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name = "viewport" content = "width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0" />
		<title></title>
		<script src="__PUBLIC__/Home/js/rem.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/base.css">
		<script src="__PUBLIC__/Home/js/jquery-1.12.0.min.js"></script>
		<script src="__PUBLIC__/Home/js/style.js"></script>
	</head>
	<body style="overflow: hidden">
		<div id="background">
			<audio src="__PUBLIC__/Home/Music/Music.mp3" id="music" style="display: none"></audio>
			<div class="top">
				<img src="__PUBLIC__/Home/images/bg2.png">
			</div>
			<div class="top_aa">
				<img src="__PUBLIC__/Home/images/bg1.png">
			</div>
			<div class="mid">
				<div class="mid_a">
					<div class="mid_a_a">
						<img src="__PUBLIC__/Home/images/icon1.png" class="dj">
						<img src="__PUBLIC__/Home/images/bg3.png">
						<span class="mid_a_a_p">每日检修</span>
					</div>
						<ul class="mid_aa">
							<li>
								<a href="index2.html?name=li1">
									<ol><img src="__PUBLIC__/Home/images/icon4.png"> <p>1-1检查左侧盖板8块完整干净</p></ol>
									<ol><img src="__PUBLIC__/Home/images/icon7.png" class="imgList1" ><img src="__PUBLIC__/Home/images/icon8.png" class="imgList2" ></ol>
								</a>
							</li>
							<li>
								<a href="index2.html?name=li2">
									<ol><img src="__PUBLIC__/Home/images/icon4.png"> <p>1-2检查左侧龙门柱外观</p></ol>
									<ol><p></p><img src="__PUBLIC__/Home/images/icon8.png" class="imgList2" ></ol>
								</a>
							</li>
							<li>
								<a href="index2.html?name=li3">
									<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>1-3检查加载装置横梁外观</p></ol>
									<ol><img src="__PUBLIC__/Home/images/icon7.png" class="imgList3"> </ol>
								</a>
							</li>
							<li>
								<a href="index2.html?name=li4">
									<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>1-4检查液压站压力表完好</p></ol>
									<ol></ol>
								</a>
							</li>
							<li>
								<a href="index2.html?name=li5">
									<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>1-5检查加载适配器外观</p></ol>
									<ol></ol>
								</a>
							</li>
							<li>
								<a href="index2.html?name=li6">
									<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>1-6检查导轨装置外观</p></ol>
									<ol></ol>
								</a>
							</li>
							<li>
								<a href="index2.html?name=li7">
									<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>1-7检查左边转向架支撑装置外观</p></ol>
									<ol></ol>
								</a>
							</li>
							<li>
								<a href="index2.html?name=li8">
									<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>1-8检查右边转向架支撑装置外观</p></ol>
									<ol></ol>
								</a>
							</li>
							<li>
								<a href="index2.html?name=li9">
									<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>1-9检查右侧盖板共8块完整 干净</p></ol>
									<ol></ol>
								</a>
							</li>
							<li>
								<a href="index2.html?name=li10">
									<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>1-10检查右侧龙门柱外观</p></ol>
									<ol></ol>
								</a>
							</li>
							<li>
								<a href="index2.html?name=li11">
									<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>2-1检查设备信号灯完好</p></ol>
									<ol></ol>
								</a>
							</li>
							<li>
								<a href="index2.html?name=li12">
									<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>2-2检查加载油缸无漏油</p></ol>
									<ol></ol>
								</a>
							</li>
							<li>
								<a href="index2.html?name=li13">
									<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>2-3检查左边导轨举升油缸1无漏油</p></ol>
									<ol></ol>
								</a>
							</li>
							<li>
								<a href="index2.html?name=li14">
									<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>2-4检查左边导轨举升油缸2无漏油</p></ol>
									<ol></ol>
								</a>
							</li>
							<li>
								<a href="index2.html?name=li15">
									<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>2-5检查左边导轨举升油缸3无漏油</p></ol>
									<ol></ol>
								</a>
							</li>
							<li>
								<a href="index2.html?name=li16">
									<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>2-6检查右边导轨举升油缸4无漏油</p></ol>
									<ol></ol>
								</a>
							</li>
							<li>
								<a href="index2.html?name=li17">
									<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>2-7检查右边导轨举升油缸5无漏油</p></ol>
									<ol></ol>
								</a>
							</li>
							<li>
								<a href="index2.html?name=li18">
									<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>2-8检查右边导轨举升油缸6无漏油</p></ol>
									<ol></ol>
								</a>
							</li>
							<li>
								<a href="index2.html?name=li19">
									<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>2-9检查左边称重滑台无漏油</p></ol>
									<ol></ol>
								</a>
							</li>
							<li>
								<a href="index2.html?name=li20">
									<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>2-10检查左边称重滑台无漏油</p></ol>
									<ol></ol>
								</a>
							</li>
							<li>
								<a href="index2.html?name=li21">
									<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>2-11检查左边主油缸无漏油</p></ol>
									<ol></ol>
								</a>
							</li>
							<li>
								<a href="index2.html?name=li22">
									<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>2-12检查右边主油缸无漏油</p></ol>
									<ol></ol>
								</a>
							</li>
						</ul>
				</div>
				<div class="mid_b">
					<div class="mid_b_a">
						<img src="__PUBLIC__/Home/images/bg3.png">
						<img src="__PUBLIC__/Home/images/icon2.png" class="dj1">
						<span class="mid_b_a_p">周五检修</span>
					</div>
					<ul class="mid_bb">
						<li>
							<a href="index2.html?name=li23">
								<ol><img src="__PUBLIC__/Home/images/icon4.png"> <p>3-1检查地坑无积水</p></ol>
								<ol><img src="__PUBLIC__/Home/images/icon8.png" ></ol>
							</a>
						</li>
						<li>
							<a href="index2.html?name=li24">
								<ol><img src="__PUBLIC__/Home/images/icon4.png"> <p>3-2清洁车轮测量单元操作台</p></ol>
								<ol><p></p><img src="__PUBLIC__/Home/images/icon8.png" ></ol>
							</a>
						</li>
						<li>
							<a href="index2.html?name=li25">
								<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>3-3清洁车轮测量单元下降导轨</p></ol>
								<ol></ol>
							</a>
						</li>
						<li>
							<a href="index2.html?name=li26">
								<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>3-4清洁车轮测量单元线性滑槽</p></ol>
								<ol></ol>
							</a>
						</li>
						<li>
							<a href="index2.html?name=li27">
								<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>3-5清洁车轮测量单元测量辊</p></ol>
								<ol></ol>
							</a>
						</li>
						<li>
							<a href="index2.html?name=li28">
								<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>3-6清洁车轮测量液压单元</p></ol>
								<ol></ol>
							</a>
						</li>
						<li>
							<a href="index2.html?name=li29">
								<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>3-7清洁门式钢架龙门立柱表面</p></ol>
								<ol></ol>
							</a>
						</li>
						<li>
							<a href="index2.html?name=li30">
								<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>3-8清洁门式钢架横梁表面</p></ol>
								<ol></ol>
							</a>
						</li>
						<li>
							<a href="index2.html?name=li31">
								<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>3-9清洁门式钢架主油缸</p></ol>
								<ol></ol>
							</a>
						</li>
						<li>
							<a href="index2.html?name=li32">
								<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>3-10清洁门式钢架光杠</p></ol>
								<ol></ol>
							</a>
						</li>
						<li>
							<a href="index2.html?name=li33">
								<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>3-11清洁门式钢架丝杠</p></ol>
								<ol></ol>
							</a>
						</li>
						<li>
							<a href="index2.html?name=li34">
								<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>3-12清洁门式钢架电机1</p></ol>
								<ol></ol>
							</a>
						</li>
						<li>
							<a href="index2.html?name=li35">
								<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>3- 13清洁门式钢架电机2</p></ol>
								<ol></ol>
							</a>
						</li>
						<li>
							<a href="index2.html?name=li36">
								<ol><img src="__PUBLIC__/Home/images/icon5.png"> <p>3-14清洁门式钢架线性导轨</p></ol>
								<ol></ol>
							</a>
						</li>

					</ul>
					<p class="dj2">*点击类别查看更多</p>
			</div>

			</div>


			</div>
		</div>
	</body>
</html>

<script>
    $(".Jumps").click(function () {
        $(".imgList2").css({
            'display':'block',
        })
    })
	$('.mid_a').click(function () {
        var audios = $('#music');
        var auio ='<audio src="__PUBLIC__/Home/Music/Music.mp3" controls="" id="music" >';
        audios.remove();
        $('.mid_a').append(auio);
        $("#music")[0].play();
        $('#music').css({
			display:'none',
		});
    })
    $('.mid_b').click(function () {
        var audios = $('#music');
        var auio ='<audio src="__PUBLIC__/Home/Music/Music.mp3" controls="" id="music" >';
        audios.remove();
        $('.mid_b').append(auio);
        $("#music")[0].play();
        $('#music').css({
            display:'none',
        });
    })
</script>

<script>


    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg); //匹配目标参数
        if (r != null) return unescape(r[2]); return null; //返回参数值
    }
    var name = getUrlParam('name');
    $(function () {
        if(name=='li1'){
            $('.name').text('1-1检查左侧盖板8块完整干净');
        }
        if(name=='li2'){
            $('.name').text('1-2检查左侧龙门柱外观');
        }
        if(name=='li3'){
            $('.name').text('1-3检查加载装置横梁外观');
        }
        if(name=='li4'){
            $('.name').text('1-4检查液压站压力表完好');
        }
        if(name=='li5'){
            $('.name').text('1-5检查加载适配器外观');
        }
        if(name=='li6'){
            $('.name').text('1-6检查导轨装置外观');
        }
        if(name=='li7'){
            $('.name').text('1-7检查左边转向架支撑装置外观');
        }


        if(name=='li8'){
            $('.name').text('1-8检查右边转向架支撑装置外观');
        }
        if(name=='li9'){
            $('.name').text('1-9检查右侧盖板共8块完整 干净');
        }
        if(name=='li10'){
            $('.name').text('1-10检查右侧龙门柱外观');
        }
        if(name=='li11'){
            $('.name').text('2-1检查设备信号灯完好');
        }
        if(name=='li12'){
            $('.name').text('2-2检查加载油缸无漏油');
        }
        if(name=='li13'){
            $('.name').text('2-3检查左边导轨举升油缸1无漏油');
        }
        if(name=='li14'){
            $('.name').text('2-4检查左边导轨举升油缸2无漏油');
        }
        if(name=='li15'){
            $('.name').text('2-5检查左边导轨举升油缸3无漏油');
        }
        if(name=='li16'){
            $('.name').text('2-6检查右边导轨举升油缸4无漏油');
        }
        if(name=='li17'){
            $('.name').text('2-7检查右边导轨举升油缸5无漏油');
        }
        if(name=='li18'){
            $('.name').text('2-8检查右边导轨举升油缸6无漏油');
        }
        if(name=='li19'){
            $('.name').text('2-9检查左边称重滑台无漏油');
        }
        if(name=='li20'){
            $('.name').text('2-10检查左边称重滑台无漏油');
        }
        if(name=='li21'){
            $('.name').text('2-11检查左边主油缸无漏油');
        }
        if(name=='li22'){
            $('.name').text('2-12检查右边主油缸无漏油');
        }
        if(name=='li23'){
            $('.li').text('3-1检查地坑无积水');
        }
        if(name=='li24'){
            $('.li').text('3-2清洁车轮测量单元操作台');
        }
        if(name=='li25'){
            $('.li').text('3-3清洁车轮测量单元下降导轨');
        }
        if(name=='li26'){
            $('.li').text('3-4清洁车轮测量单元线性滑槽');
        }
        if(name=='li27'){
            $('.li').text('3-5清洁车轮测量单元测量辊');
        }
        if(name=='li28'){
            $('.li').text('3-6清洁车轮测量液压单元');
        }
        if(name=='li29'){
            $('.li').text('3-7清洁门式钢架龙门立柱表面');
        }
        if(name=='li30'){
            $('.li').text('3-8清洁门式钢架横梁表面');
        }
        if(name=='li31'){
            $('.li').text('3-9清洁门式钢架主油缸');
        }
        if(name=='li32'){
            $('.li').text('3-10清洁门式钢架光杠');
        }
        if(name=='li33'){
            $('.li').text('3-11清洁门式钢架丝杠');
        }
        if(name=='li34'){
            $('.li').text('3-12清洁门式钢架电机1');
        }
        if(name=='li35'){
            $('.li').text('3-13清洁门式钢架电机2');
        }
        if(name=='li36'){
            $('.li').text('3-14清洁门式钢架线性导轨');
        }
    })
</script>
