{__NOLAYOUT__}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0" />
    <title></title>
    <script src="__PUBLIC__/Home/js/rem.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style4.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/base.css">
    <script src="__PUBLIC__/Home/js/jquery-1.12.0.min.js"></script>
    <script src="__PUBLIC__/Home/js/style.js"></script>
</head>
<body>
    <div id="background">
        <div class="top">
            <img src="__PUBLIC__/Home/images/index2/icon.png" alt="">
            <span><img src="__PUBLIC__/Home/images/icon3.png"><p id="list" class="li">{$title}</p></span>
        </div>
        <div class="mid">
            <p><img src="__PUBLIC__/Home/images/index4/icon1.png">

            </p>
            <span>已成功保存到后台！</span>
            <textarea>

            </textarea>
            <ul>
                <li><img src="__PUBLIC__/Home/images/index3/icon3.png" alt=""></li>
                <li><img src="__PUBLIC__/Home/images/index3/icon3.png" alt=""></li>
            </ul>

        </div>
        <div class="but">
            <a href="{:U('index1')}" class="jump"> <img src="__PUBLIC__/Home/images/index4/icon2.png" alt=""></a>
        </div>
    </div>
</body>
</html>