{__NOLAYOUT__}<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name = "viewport" content = "width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0" />
		<title></title>
		<script src="__PUBLIC__/Home/js/rem.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/base.css">
		<script src="__PUBLIC__/Home/js/jquery-1.12.0.min.js"></script>
		<script src="__PUBLIC__/Home/js/style.js"></script>
	</head>
	<body style="overflow: hidden">
		<div id="background">
			
			<div class="top">
				<img src="__PUBLIC__/Home/images/bg2.png">
			</div>
			<div class="top_aa">
				<img src="__PUBLIC__/Home/images/bg1.png">
			</div>
			<div class="mid">

				<volist name="timestamp" id="foo">
					<div class="mid_a">
					<div class="mid_a_a">
						<img src="__PUBLIC__/Home/images/icon1.png" class="dj">
						<img src="__PUBLIC__/Home/images/bg3.png">
						<span class="mid_a_a_p">{$foo.timestamp}</span>
					</div>
							
						

						<ul class="mid_aa">
							<!-- 4是保修 5是ok -->
							<!-- 7是ok 8是保修 -->
							<volist name="foo.program" id="childfoo">
								
								<li>

									<a href="{:U('index2',array('program_id'=>$childfoo['id']))}">
										<ol>

											<img src="__PUBLIC__/Home/images/icon4.png">

											<p>{$childfoo.title}</p>
										</ol>

										<ol>
											<p></p>

											<img src="__PUBLIC__/Home/images/icon7.png" class="imgList2" >

										</ol>
									</a>
								</li>
							</volist>
						</ul>
					</div>
				</volist>

				<p class="dj2">*点击类别查看更多</p>

			</div>
			</div>
		</div>
	</body>
</html>

<script>
    $(".Jumps").click(function () {
        $(".imgList2").css({
            'display':'block',
        })
    })
    var r = 0;

	$('.mid_a').click(function () {
		
        var audios = $('#music');
        var auio ='<audio src="__PUBLIC__/Home/Music/Music.mp3" controls="" id="music" >';
        audios.remove();
        $(this).append(auio);
        $("#music")[0].play();
        $('#music').css({
			display:'none',
		});

		$(this).find('.mid_aa').slideToggle();

		if($(this).find('mid_aa').css('display')=='block'){

            $(this).find('mid_aa').slideUp();
        }
        r += 45;
        $(this).find('.dj').css('transform','rotate('+ r + 'deg)');
    })  
</script>
