#background{
    background: url("../images/background.png");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-flow: column;
    overflow: hidden;
}
.top{
    width: 6.04rem;
    height: 5.6%;
    padding-top: 6%;
    margin: 0 auto;
}
.top span img{
    width: 0.1rem;
    height: 0.1rem;
}
.top span{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
    font-size: 0.23rem;
    width: 3.8rem;
    height: 0.24rem;
    margin-left: 1rem;
    margin-top: -0.5rem;
}
.mid{
    width: 6.96rem;
    height: 64%;
    margin: 0 auto;
    margin-top: 10%;
}
.mid_aa ul{
    display: flex;
    width: 6.96rem;
    justify-content: space-between;
}
.mid_aa ul li{
    width: 1.61rem;
    height: 0.57rem;
    text-align: center;
    background: #efb24c;
    z-index: 999;
}
.mid_aa ul li a{
    display: block;
    color: #ffffff;
    width: 1.61rem;
    height: 0.57rem;
    font-size: 0.25rem;
    line-height: 0.57rem;
    text-decoration: none;
}
#mid_aa_img1{
    width: 1.73rem;
    height: 0.7rem;
    position: absolute;
    margin-left: -0.05rem;
    margin-top: -0.65rem;
}
#mid_aa_img2{
    width: 1.73rem;
    height: 0.7rem;
    position: absolute;
    margin-left: 1.73rem;
    margin-top: -0.65rem;
}
#mid_aa_img3{
    width: 1.73rem;
    height: 0.7rem;
    position: absolute;
    margin-left: 3.52rem;
    margin-top: -0.65rem;
}
#mid_aa_img4{
    width: 1.73rem;
    height: 0.7rem;
    position: absolute;
    margin-left: 5.3rem;
    margin-top: -0.65rem;
}
.mid_bb{
    height: 91.5%;
}
.mid_bb ul{
    height: 100%;
}
.mid_bb ul li:nth-child(1)#mid_bb_a{
    margin-top: 0.15rem;
    width: 6.96rem;
    height: 99.5%;
    background: rgba(0,255,255,0.2);
    border: 1px solid #00ffff;
}
.mid_bb ul li:nth-child(1)#mid_bb_a p{
    font-size: 0.3rem;
    color: #ffffff;
    margin: 0.24rem 0 0 0.12rem;
}
.mid_bb ul li:nth-child(1)#mid_bb_a>textarea{
    width: 6.67rem;
    height: 51%;
    border-top: 1px dashed #869ca2;
    position: absolute;
    left: 50%;
    margin-left: -3.335rem;
    resize: none;
}
.mid_bb ul li:nth-child(2)#mid_bb_b{
    margin-top: 0.15rem;
    width: 6.96rem;
    height: 99.5%;
    background: rgba(0,255,255,0.2);
    border: 1px solid #00ffff;
    display: none;
}
.start_p{
    width: 1.69rem;
    height: 1.91rem;
    position: absolute;
    left: 50%;
    margin-left: -0.845rem;
    margin-top: 50%;
    text-align: center;
}
.mid_bb ul li:nth-child(2)#mid_bb_b p:nth-child(2) img{
    margin-top: 10%;
}
.mid_bb ul li:nth-child(2)#mid_bb_b p:nth-child(2) span{
    display: block;
    color: #fff;
    font-size: 0.2rem;
}
.mid_bb ul li:nth-child(2)#mid_bb_b p:nth-child(1){
    align-items: center;
    justify-content: space-between;
    width: 6.67rem;
    display: flex;
    height: 7.5%;
    margin: 0 auto;
    border-bottom: 1px dashed #869ca2;
}
#playRecord{
    width: 1.71rem;
    height: 0.38rem;
    background: #efb24c;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#playRecords{
    width: 1.71rem;
    height: 0.38rem;
    background: #efb24c;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
/*语音动态图*/
.sk-wave {
    width: 1rem;
    height: 0.29rem;
    margin: auto;
    text-align: center;
    display: none;
}
.sk-wave .sk-rect {
    background-color: #337ab7;
    height: 100%;
    width: 0.1rem;
    display: inline-block;
    -webkit-animation: sk-wave-stretch-delay 1.2s infinite ease-in-out;
    animation: sk-wave-stretch-delay 1.2s infinite ease-in-out;
}
.sk-wave .sk-rect-1 {
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
}
.sk-wave .sk-rect-2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.sk-wave .sk-rect-3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
.sk-wave .sk-rect-4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.sk-wave .sk-rect-5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-wave-stretch-delay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes sk-wave-stretch-delay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
/*语音动态图 结束*/
.mid_bb ul li:nth-child(2)#mid_bb_b p:nth-child(1) span img{
    float: right;
    padding-right: 0.1rem;
}
.mid_bb ul li:nth-child(2)#mid_bb_b p:nth-child(1) img{
    width: 0.29rem;
    height: 0.29rem;
}
#start{
    width: 1.69rem;
    height: 1.69rem;
}
#start1{
    width: 1.69rem;
    height: 1.69rem;
}


.mid_bb ul li:nth-child(3)#mid_bb_c{
    margin-top: 0.15rem;
    width: 6.96rem;
    height: 99.5%;
    background: rgba(0,255,255,0.2);
    border: 1px solid #00ffff;
    display: none;
}
.enlarge{
    width: 6.86rem;
    height: 80%;
    margin: 0.05rem auto;
}
.mid_bb ul li:nth-child(3)#mid_bb_c p:nth-child(1){
    width: 6.62rem;
    height: 91%;
    margin: 0.38rem auto;
}
.mid_bb ul li:nth-child(3)#mid_bb_c p:nth-child(1) img{
    width: 6.62rem;
    height: 100%;
}
.mid_bb ul li:nth-child(3)#mid_bb_c p:nth-child(2){
    border: 1px solid #ffffff;
    width: 6.86rem;
    height: 81%;
    display: flex;
    margin: 0.05rem auto;
}
.mid_bb ul li:nth-child(3)#mid_bb_c p:nth-child(2) span:nth-child(2) input{
    width: 1.19rem;
    height: 1.19rem;
    position: relative;
    opacity: 0;
    z-index: 999;
}
.mid_bb ul li:nth-child(3)#mid_bb_c p:nth-child(2) span:nth-child(2){
    margin-top: 0.08rem;
    color: #ffffff;
    text-align: center;
    font-size: 0.25rem;
    display: block;
    width: 1.19rem;
    height: 1.19rem;
    line-height: -0.59rem;
    background: rgba(0,255,255,0.5);
}
.mid_bb ul li:nth-child(3)#mid_bb_c p:nth-child(2) span:nth-child(1){
    margin-top: 0.08rem;
    margin-right: 0.24rem;
    display: flex;
}
.mid_bb ul li:nth-child(3)#mid_bb_c p:nth-child(2) span:nth-child(1) img{
    width: 1.19rem;
    height: 1.19rem;
}
.z_addImg {
    margin-left: 0.15rem;
}
.z_addImg {
    width: 0.3rem;
    height: 0.3rem;
}


.mid_bb ul li:nth-child(4)#mid_bb_d{
    position: absolute;
    margin-top: 0.15rem;
    width: 6.96rem;
    height: 58.5%;
    background: rgba(0,255,255,0.2);
    border: 1px solid #00ffff;
    display: block;
}
.mid_bb ul li:nth-child(4)#mid_bb_d div:nth-child(1){
    position: absolute;
    width: 6.68rem;
    height: 100%;
    left: 50%;
    margin-left: -3.34rem;
}
.mid_bb ul li:nth-child(4)#mid_bb_d div:nth-child(1) span:nth-child(1) img:nth-child(1){
    width: 6.62rem;
    height: 91%;
    position: absolute;
    top: 5%;
}
.mid_bb ul li:nth-child(4)#mid_bb_d div:nth-child(1) span:nth-child(3){
    position: absolute;
    width: 2.33rem;
    height: 2.9rem;
    display: flex;
    flex-flow: column;
    top: 30%;
    left: 50%;
    margin-left: -1.165rem;
    display: block;
}
.mid_bb ul li:nth-child(4)#mid_bb_d div:nth-child(1) span:nth-child(3) img{
    width: 2.33rem;
    height: 2.33rem;
}
.mid_bb ul li:nth-child(4)#mid_bb_d div:nth-child(1) span:nth-child(3) strong{
    font-size: 0.23rem;
    text-align: center;
    display: block;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 10%;
}
#addVideoDiv{
    position: absolute;
    text-align: center;
    margin: 0 auto;
    height: 90.5%;
    width: 6.62rem;
    left: 50%;
    margin-left: -3.31rem;
    top: 5%;
}
#addVideoDiv span{
    position: absolute;
    width: 0.3rem;
    height: 0.3rem;
    margin-top: -2%;
    margin-left: -3%;
    display: none;
}
#vvv{
    display: block;
    float: left;
    width: 6.6rem;
    height: 100%;
    position: absolute;
    z-index: 1;
}
#videoImg{
    width: 6.62rem;
    height: 7.03rem;
}
#y{
    position: absolute;

    width: 0px;
    height: 0px;
}
#video{
    width: 6.62rem;
    height: 94.5%;
    margin-top: 0.21rem;
    display: none;
    z-index: 999;
}




.but{
    z-index: 999;
    width: 7.5rem;
    margin-top: 15%;
}
.but ul{
    display: flex;
    justify-content: center;
}
.but ul li{
    font-size: 0.23rem;
    color: #ffffff;
    width: 3.48rem;
    height: 1.1rem;
}
.but ul li a{
    width: 2.64rem;
    height: 1.1rem;
    display: block;
    margin: 0 auto;
}
.but ul li img{
    display: block;
    margin: 0 auto;
    width: 2.64rem;
    height: 1.1rem;
}

